<%- include('../partials/header') %>

<h2>Edit Bookmark</h2> 

<form id="edit-form" action="/bookmarks/<%= bookmark._id %>?_method=PUT" method="POST">
    <label>Title:
        <input type="text" name="title" value="<%= bookmark.title  %>" >
    </label><br>
    <label>Description:
        <textarea name="description" value="<%= bookmark.description  %>"></textarea>
    </label><br>
    <label>URL:
        <!-- link should be clickable -->
      <input type="url" name="url" value="<%= bookmark.url  %>"><br><br>
    <input id="save-btn" type="submit" value="Save">
</form>
<form action="/bookmarks/<%= bookmark._id %>?_method=DELETE" method="POST">
    <input id="delete-btn" type="submit" name="" value="Delete Bookmark">
</form>

  <%- include('../partials/footer') %>
