<%- include('../partials/header') %>

<h1>My bookmark shelf</h1>
<section>
    <div>Category 1</div>
    <div>Category 2</div>
    <div>Category 3</div>
    <div>Category 4</div>
    <div>Category 5</div>
    <div>Category 6</div>
</section>
<% bookmarks.forEach(function(b) { %>
    <tr>
      <td><%= m.title %></td>
      <td><%= m.releaseYear %></td>
      <td><a href="/movies/<%= m._id %>">DETAILS</a></td>
    </tr>
    <% }); %>

<%- include('../partials/footer') %>


