<%- include('../partials/header') %>

<h3>Bookmark Details</h3>
<section id="show-page">
    <h4>Title: </h4>
  <div>
    <%= bookmark.title %>
  </div>
  <h4>Description: </h4>
  <div>
    <%= bookmark.description %>
  </div>
  <h4>URL: </h4>
  <div>
    <%= bookmark.url %>
  </div>
  <h4>Category: </h4>
  <div>
    <%= bookmark.category %>
  </div>
</section>
<h3>Edit Bookmark</h3> 
<form action="/bookmarks/<% bookmark._id %>/show?_method=PUT" method="POST">
    <label>Title:
        <input type="text" name="title">
    </label><br>
    <label>Description:
        <input type="text" name="description">
    </label><br>
    <label>URL:
        <!-- link should be clickable -->
      <input type="link" name="url">
    </label><br>
    <label>Category:
        <select name="category" id="">
            <option value="News">News</option>
            <option value="Financial">Financial</option>
            <option value="School">School</option>
            <option value="Other">Other</option>
        </select>
    </label><br>
    <button type="submit">Save</button>
  </form>
  <%- include('../partials/footer') %>